@model WebProgramlamaOdev.Entity.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
    <div class="container pb-5">
        <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_Cat_Del_h2Baslik</h2>

        
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken() /* kullanmamızın sebebi  oluşturduğumuz web sitelerinde gönderilen verinin bizim server dan mı
                                          * yoksa başka serverdan mı , değilse bunun engellemesini yapmak güvenli tutmak için kullanılır. */

                <div class="form-actions no-color">
                    <input type="submit" value=@WebProgramlamaOdev.Resources.HomeTexts.V_Cat_Del_Sil class="btn btn-danger" /> |
                    @Html.ActionLink(@WebProgramlamaOdev.Resources.HomeTexts.V_Cat_Del_KategoriDon, "Index",null,new{@class="btn btn-secondary "})
                </div>
            }
        </div>

    </div>
