
@using WebProgramlamaOdev.Entity
@model WebProgramlamaOdev.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
}
@*account details *@
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_h2Baslik</h2>
            <hr />

            <dl class="row">

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_SiparisDurumu</dt>
                <dd class="col-sm-9">
                    @if (Model.OrderState == EnumOrderState.OnayBekleniyor)
                    {
                    <span class="badge-danger">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_OnayBekliyor</span>
                    }
                    else if (Model.OrderState == EnumOrderState.Tamamlandi)
                    {
                <span class="badge-success">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_Tamamlandi</span>
                    }
                </dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_SiparisId</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_SiparisNo</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_Toplam</dt>
                <dd class="col-sm-9">
                    <i class="fa fa-try" aria-hidden="true"></i>
                    @Model.Total
                </dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_SiparisTarihi</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>


                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Semt - @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_Urunler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_Resim</th>
                                <th style="width: 45%;">@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_UrunAdi</th>
                                <th>@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_Miktar</th>
                                <th>@WebProgramlamaOdev.Resources.HomeTexts.V_A_D_Fiyat</th>
                                <th style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Orderlines)
                            {
                                <tr>
                                    <td>
                                        <img src="/Upload/@item.Image" width="70" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        <i class="fa fa-try" aria-hidden="true"></i>
                                        @item.Price
                                    </td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            @WebProgramlamaOdev.Resources.HomeTexts.V_A_D_UrunDetay
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>

            </dl>

        </div>
    </div>
</div>

