@model IEnumerable<WebProgramlamaOdev.Models.UserOrderModel>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_A_I_h2Baslik</h2>
            <hr />

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>@WebProgramlamaOdev.Resources.HomeTexts.V_A_I_SiparisNo</th>
                    <th>@WebProgramlamaOdev.Resources.HomeTexts.V_A_I_SiparisTarihi</th>
                    <th>@WebProgramlamaOdev.Resources.HomeTexts.V_A_I_Tutar</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate.ToShortDateString()</td>
                        <td>
                            <i class="fa fa-try" aria-hidden="true"></i>
                            @item.Total
                        </td>
                        <td>@item.OrderState</td>
                        <td>
                            @Html.ActionLink(WebProgramlamaOdev.Resources.HomeTexts.V_A_I_Detaylar,"Details",new {id=@item.Id},new {@class="btn btn-primary"})
                        </td>
                    </tr>
                }

                </tbody>
            </table>

        </div>
    </div>
</div>


