@model WebProgramlamaOdev.Entity.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="container pb-5">
    <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_P_Del_h2Baslik</h2>
    <hr/>
   
    <div>
        
       
        <dl class="dl-horizontal">
            

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value=@WebProgramlamaOdev.Resources.HomeTexts.V_P_Del_Sil class="btn btn-danger" /> |
                @Html.ActionLink(@WebProgramlamaOdev.Resources.HomeTexts.V_P_Del_ListeyeDon, "Index",null,new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>