@model IEnumerable<WebProgramlamaOdev.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_P_I_h2Baslik</h2>

    <p>
        @Html.ActionLink(@WebProgramlamaOdev.Resources.HomeTexts.V_P_I_YeniUrun, "Create",null,new {@class="btn btn-success"})
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th style=" width:140px;"></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    <img src="~/Upload/@item.Image"width="70"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               <td>
                   @if (item.IsHome)
                   {
                   <label class="badge badge-success">
                       <i class="fa fa-check-circle"></i>
                       @WebProgramlamaOdev.Resources.HomeTexts.V_P_I_Evet
                   </label>
                   }
                   else
                   {
                       <label class="badge badge-danger">
                           <i class=" fa fa-times-circle-o">
                               <strong> @WebProgramlamaOdev.Resources.HomeTexts.V_P_I_Hayir</strong>
                           </i>
                       </label>
                   }
               </td>
                <td>
                    @if (item.IsApproved)
                    {
                    <label class="badge badge-success">
                        <i class="fa fa-check-circle"></i>
                        @WebProgramlamaOdev.Resources.HomeTexts.V_P_I_Evet
                    </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class=" fa fa-times-circle-o">
                                <strong> @WebProgramlamaOdev.Resources.HomeTexts.V_P_I_Hayir</strong>
                            </i>
                        </label>
                    }
                </td><td>
                    @Html.ActionLink(@WebProgramlamaOdev.Resources.HomeTexts.V_P_I_Guncelle, "Edit", new { id=item.Id },new { @class = "btn btn-dark btn-sm" }) 
                    @Html.ActionLink(@WebProgramlamaOdev.Resources.HomeTexts.V_P_I_Sil, "Delete", new { id=item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>
