@model WebProgramlamaOdev.Models.Cart
@{
    ViewBag.Title = "Index";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">

            <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_C_I_h2Baslik</h2>
            <hr />

            @if (Model.CartLines.Count > 0)
            {
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>@WebProgramlamaOdev.Resources.HomeTexts.V_C_I_Miktar</th>
                        <th>@WebProgramlamaOdev.Resources.HomeTexts.V_C_I_UrunAdi</th>
                        <th>@WebProgramlamaOdev.Resources.HomeTexts.V_C_I_Fiyat</th>
                        <th>@WebProgramlamaOdev.Resources.HomeTexts.V_C_I_Toplam</th>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.CartLines)
                    {
                        <tr>
                            <td>
                                <img src="/Upload/@item.Product.Image" width="50" />
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.Product.Name
                            </td>
                            <td>
                                @item.Product.Price
                            </td>
                            <td>
                                @((item.Product.Price * item.Quantity).ToString("c"))
                            </td>
                            <td>
                                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                {
                                    @Html.Hidden("Id", item.Product.Id)
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fa fa-trash-o" ></i>
                                        @WebProgramlamaOdev.Resources.HomeTexts.V_C_I_Sil
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5"></td>
                        <td>
                            @Model.Total().ToString("c")
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <div class="text-center">
                  
                    <a href="/Home/List" class="btn btn-primary">
                        <i class="fa fa-angle-double-left"></i>
                        @WebProgramlamaOdev.Resources.HomeTexts.V_C_I_DevamEt
                    </a>
                    <a href="/Cart/Checkout" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        @WebProgramlamaOdev.Resources.HomeTexts.V_C_I_Tamamla
                    </a>
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle " style="font-size: 20px;"></i>
                    @WebProgramlamaOdev.Resources.HomeTexts.V_C_I_UrunBulunmamakta
                </div>
            }

        </div>
    </div>
</div>
