
@using WebProgramlamaOdev.Entity
@model WebProgramlamaOdev.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*Order details *@
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_h2Baslik</h2>
            <hr />
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["message"]
                </div>
            }

            <dl class="row">


                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_KullaniciAdi</dt>
                <dd class="col-sm-9">@Model.UserName
                <dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_UrunDurumu</dt>
                <dd class="col-sm-9"> 

                    @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                    {
                        @Html.HiddenFor(i => i.OrderId)

                        <dl class="row">
                            <dt class="col-sm-8">
                                @Html.EnumDropDownListFor(i => i.OrderState, @WebProgramlamaOdev.Resources.HomeTexts.V_O_D_UrunDurumuSecin, new { @class = "form-control" })
                            </dt>
                            <dd class="col-sm-4">
                                <button type="submit" class="btn btn-primary">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_Guncelle</button>
                            </dd>
                        </dl>
                    }

                </dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_SiparisId</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_SiparisNo</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_Tutar</dt>
                <dd class="col-sm-9">
                    <i class="fa fa-try" aria-hidden="true"></i>
                    @Model.Total
                </dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_SiparisTarihi</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>


                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Semt - @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3">@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_Urunler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_Resim</th>
                                <th style="width: 45%;">Ürün Adı</th>
                                <th>@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_Miktar</th>
                                <th>@WebProgramlamaOdev.Resources.HomeTexts.V_O_D_Fiyat</th>
                                <th style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Orderlines)
                            {
                                <tr>
                                    <td>
                                        <img src="/Upload/@item.Image" width="70" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        <i class="fa fa-try" aria-hidden="true"></i>
                                        @item.Price
                                    </td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            @WebProgramlamaOdev.Resources.HomeTexts.V_O_D_UrunDetay
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>

            </dl>

        </div>
    </div>
</div>
